<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>common_data_action</servlet-name>
		<servlet-class>common.data_action</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>common_data_action</servlet-name>
		<url-pattern>/common_data_action</url-pattern>
	</servlet-mapping>

	<!-- ================  manage begin =================           -->
	<servlet>
		<servlet-name>manage_file_servlet_action</servlet-name>
		<servlet-class>manage.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>manage_file_servlet_action</servlet-name>
		<url-pattern>/manage_file_servlet_action</url-pattern>
	</servlet-mapping>
	<!-- ================  manage end =================           -->
	<!-- ================  login begin =================           -->
	<servlet>
   		<servlet-name>user_login_servlet_action</servlet-name>
    	<servlet-class>user.login.ServletAction</servlet-class>
 	</servlet>
 	<servlet-mapping>
   		<servlet-name>user_login_servlet_action</servlet-name>
    	<url-pattern>/user_login_servlet_action</url-pattern>
 	</servlet-mapping>
	<!-- ================  login end =================           -->
</web-app>
