<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>common_data_action</servlet-name>
		<servlet-class>common.data_action</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>common_data_action</servlet-name>
		<url-pattern>/common_data_action</url-pattern>
	</servlet-mapping>
  	<!-- ================  project begin =================           -->
	<servlet>
		<servlet-name>project_file_servlet_action</servlet-name>
		<servlet-class>project.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>project_file_servlet_action</servlet-name>
		<url-pattern>/project_file_servlet_action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>project_todo_servlet_action</servlet-name>
		<servlet-class>project.todo.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>project_todo_servlet_action</servlet-name>
		<url-pattern>/project_todo_servlet_action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>project_statistic_servlet_action</servlet-name>
		<servlet-class>project.statistic.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>project_statistic_servlet_action</servlet-name>
		<url-pattern>/project_statistic_servlet_action</url-pattern>
	</servlet-mapping>
	<!-- ================  project end =================           -->
	<!-- ================  forum begin =================           -->
	<servlet>
		<servlet-name>forum_file_servlet_action</servlet-name>
		<servlet-class>forum.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>forum_file_servlet_action</servlet-name>
		<url-pattern>/forum_file_servlet_action</url-pattern>
	</servlet-mapping>
	<!-- ================  forum end =================           -->
	<!-- ================  clinic begin =================           -->
	<servlet>
		<servlet-name>clinic_pay_servlet_action</servlet-name>
		<servlet-class>clinic.pay.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clinic_pay_servlet_action</servlet-name>
		<url-pattern>/clinic_pay_servlet_action</url-pattern>
	</servlet-mapping>
	<!-- ================  clinic end =================           -->

	<!-- ================  manage begin =================           -->
	<servlet>
		<servlet-name>manage_file_servlet_action</servlet-name>
		<servlet-class>manage.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>manage_file_servlet_action</servlet-name>
		<url-pattern>/manage_file_servlet_action</url-pattern>
	</servlet-mapping>
	<!-- ================  manage end =================           -->
</web-app>
